*{
	box-sizing: border-box;
}

h3{
	background-color: #4e73df;
	color: white;
    text-align: center;
    letter-spacing: 1px;
    height: 8em;
    padding: 3em 10%;
}

div{
	padding: 10px;
    background-color: #f6f6f6;
    overflow: hidden;
}

input[type=text], textarea, select{
	font: 17px;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=button]{
	font: 17px;
    width: auto;
    float: left;
    cursor: pointer;
    padding: 7px;
	background-color: #4e73df;
	color: white;
}
