body{
	background-color: white;
}

h1{
	color: white;
	text-align: center;
	background-color: #4e73df;
}

div {
	text-align: center;
	width: 40%;
	height: 20%;
	background-color: white;
	margin: auto;

}

#return {
	padding: 70px 0;
	text-align: center;
}
