body{
	background-color: white;
}

h1{
	color: black;
	text-align: center;
}

#about{
	position: absolute;
	color: black;
	text-align: center;
	top: 400px;
	left: 20px;
}

#integrating{
	position: absolute;
	color: black;
	text-align: center;
	top: 800px;
	left: 880px;
}

#log{
	position: absolute;
	text-align: center;
	right: 0px;
	top: 0px;
	height: 1000px;
	width: 200px;
}

div {
	color: white;
	position: absolute;
	text-align: center;
	left: 0px;
	top: 0px;
	height: 1000px;
	width: 200px;
	background-color: #4e73df;
}

#login {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 30px;
	
}

#login_e {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 20px;
	color: white;
	margin: auto;
}

#login_m {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 20px;
	color: white;
	margin: auto;
}

#contact {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 20px;
	color: black;
	margin: auto;
}

#about{
	right: 0px;
}
