body
{
    background-image: url(https://images.unsplash.com/photo-1610307766999-01f45d259959?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YnVpbGRpbmclMjBpbiUyMGJhY2tncm91bmR8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 
{ 
    text-align: center;
    background-color: blue;
    color: white;
}

div 
{ 
    background-color: clear;
}

form  
{ 
    text-align: center;
}

input 
{ 
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
