h1 
{ 
    text-align: center;
    background-color: blue;
    color: white;
}

div 
{ 
    background-color: white;
}

form  
{ 
    text-align: center;
}

input 
{ 
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
